body {
    background-color: white;
    font-family: SansSerif, serif;
}

h1 {
    color: #AE2835;
    font-weight: bold;
}

div {
    background-color: grey;
    color: white;
    margin: auto;
}

.side_menu {
    float: left;
    background-color: lightslategrey;
    height: auto;
    max-height: 800px;
    width: auto;
    max-width: 180px;
    outline: grey solid 5px;
    clear-after: both;
    margin: 10px
}

.item {
    margin: 5px;
    color: red;
    border-bottom: dimgrey 1px;
    font-size: small;
}