body {
    background-color: white;
    font-family: SansSerif, serif;
}

h1 {
    color: #AE2835;
    font-weight: bold;
}

div {
    background-color: grey;
    color: white;
    margin: auto;
}

.side_menu {
    float: left;
    background-color: lightslategrey;
    height: 800px;
    max-height: 800px;
    width: 180px;
    max-width: 180px;
    outline: darkslategrey solid 5px;
    clear-after: both;
    margin: 10px
}